*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Poppins';
}

div#filters form {
    margin-top: 12px;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.content {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}

h1.centered {
  margin: 10px 0 0 85px;
  padding-bottom: 0;
}

.centered {
  margin-top: 0;
  text-align: center;
}

#pyramid {
  width: 95%;
  margin: 40px auto;
}

.legend {
  display: grid;
    justify-content: center;
    grid-template-columns: 70px 70px 70px;
    text-align: center;
    gap: 17px;
    margin: 15px;
}

.legend-item {
  padding: 6px 3px;
  border-radius: 5px;
  border: solid 3px black;
}

.fa-circle {
  color: red !important;
  font-size: 12px;
}

.fa-bolt {
  color: white;
  font-size: 12px;
}

.layer {
  width: 100%;
  border-bottom: solid 1px #F5F5F5;
  margin-bottom: 10px;
  /* display: grid; */
  /* grid-template-rows: auto; */
}

.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.block.blocks-no-border {
    border: white;
    font-size: 1rem !important;
}

.block strong {
  word-wrap: break-word;
  word-break: break-word;
}

.block {
    border: 3px solid #000;
    border-radius: 15px;
    height: 80px;
    width: 80px;
    margin: 5px;
    padding: 12px;
    display: grid;
    text-align: center;
    align-items: center;
    font-size: .5rem;
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
  position: absolute;
}

.y2020 {
  background: #CCF5F6;
}

.y2021 {
  background: #CBE4F9;
}

.y2022 {
  background: #D6CDEA;
}

.y2023 {
  background: #EEF9DA;
}

.y2024 {
  background: #ffebef;
}

.icon-container {
  background: black;
  height: 25px;
  width: 25px;
  top: -10px;
  left: -10px;
  position: absolute;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-border {
  border: 0;
}

.block-date {
  font-size: 0.4rem;
}

.all-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.custom-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    z-index: 999;
}

.custom-fab:hover {
    background-color: #3700b3;
}

/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}