<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Route Pyramid</title>
    {{ font_awesome.load_js() }}
</head>
<body>
    <h1 style="text-align: center;">Welcome to Jordan's Route Pyramid</h1>
 <div>
     <div id='filters' style="width: 50%; float:left;">
         <form method="POST">
    {{ form.csrf_token }}
    {{ form.climbing_style }}
    {{ form.grade }}
    <input type="submit">
    </form>
     <script>
        let style_select = document.getElementById('climbing_style');
        let grade_select = document.getElementById('grade');

        style_select.onchange = function() {
            style = style_select.value;

            fetch('/grades/' + style).then(function(response) {
                response.json().then(function(data) {
                let optionHTML = '';

                for (let grade of data.grades) {
                    optionHTML +=  '<option value ="' + grade.id + '">' + grade.grade + '</option>';
                }

                grade_select.innerHTML = optionHTML;

                });

            });

         }
     </script>
     </div>
     <div id='pyramid' style="width: 50%; float:right;">
<!--     {% for send in sends %}-->
<!--{{send.date}} - {{send.route_name}} - {{send.grade}}<br>-->
<!--{% endfor %}-->


{% for layer in layers %}
<div class="layer">
  <div class="blocks">

    <div class="blocks-no-border">{{layer["grade"]}}</div>
     <div class="all-blocks">
    {% for climb in layer["climbs"] %}
    <div class="block {{climb.ascent}} y{{climb.date[:4]}}">
         <strong>{{ climb.name }}</strong>
        <span class="block-date">{{ climb.date }}</span>
          <div class='icon container'></div>
            {% if climb.ascent == "Redpoint" %}
                {{font_awesome.render_icon("fas fa-circle")}}
            {% else %}
                {{font_awesome.render_icon("fas fa-bolt")}}
            {% endif %}
             </div>
    {% endfor %}
    </div>
    </div>
   </div>
         {% endfor %}
</div>



         </div>
     </div>
</body>
</html>