<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Route Pyramid</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to Jordan's Route Pyramid</h1>
 <div>
     <div id='filters' style="width: 50%; float:left;">
         <form method="POST">
    {{ form.csrf_token }}
    {{ form.climbing_style }}
    {{ form.grade }}
    <input type="submit">
    </form>
     <script>
        let style_select = document.getElementById('climbing_style');
        let grade_select = document.getElementById('grade');

        style_select.onchange = function() {
            style = style_select.value;

            fetch('/grades/' + style).then(function(response) {
                response.json().then(function(data) {
                let optionHTML = '';

                for (let grade of data.grades) {
                    optionHTML +=  '<option value ="' + grade.id + '">' + grade.grade + '</option>';
                }

                grade_select.innerHTML = optionHTML;

                });

            });

         }
     </script>
     </div>
     <div id='pyramid' style="width: 50%; float:right;">
     {% for send in sends %}
{{send.date}} - {{send.route_name}} - {{send.grade}}<br>
{% endfor %}
         </div>
     </div>
</body>
</html>